body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("temple.jpg") no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* PASSWORD BOX */
.password-box {
  position: relative;
  width: 100%;
}

/* EYE ICON */
.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: black;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background: darkblue;
}